body {
	background: #f3f3f3;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input[type="text"]:focus { 
	outline: none; 
}

input[type="password"]:focus { 
	outline: none; 
}


#main {
	background: #ffffff;
	margin: 0px auto;
	margin-top:140px;
	width: 240px;
	height: 370px;
}

#logo {
	width: 208px;
	height: 180px;
	padding: 5px 40px;
}

#textlogo {
	font-size: 24px;
	color: #979892;
}

#login {
	margin: 20px 16px 0px;
	border: 0px;
	background: #f3f3f3;
	width: 200px;
	height: 40px;
	font-size: 16pt;
	color: #979892;
	padding: 2px 2px 0px 6px;
}

#pass {
	margin: 10px 16px 0px;
	border: 0px;
	background: #f3f3f3;
	width: 200px;
	height: 40px;
	font-size: 16pt;
	color: #979892;
	padding: 2px 2px 0px 6px;
}

#subm {
	margin: 10px 16px 0px;
	border: 0px;
	background: #72b6e2;
	width: 208px;
	height: 40px;
	font-size: 16pt;
	color: #ffffff;
}